driverClassName=org.postgresql.Driver
databaseUrl=jdbc:postgresql://{{ bamboo_database_address }}/bamboo
userName={{ bamboo_database_user }}
password={{ bamboo_database_pass }}
poolSize= 100
dialect=org.hibernate.dialect.PostgreSQL82Dialect